/* About Section */
#about {
    padding: 100px 20px;
    text-align: center;
    background: linear-gradient(to right, #cadff2, #f2f0e6);
    min-height: 110vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about h1 {
    font-size: 2.5em;
    color: black;
    margin-bottom: 20px;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Skills Section */
#skills {
    padding: 50px 20px;
    text-align: center;
    background: linear-gradient(to right, #cadff2, #f2f0e6);
}

#skills h2 {
    font-size: 2.5em;
    color: black;
    margin-bottom: 40px;
}

.about-skills-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5em;
    justify-content: center;
    padding: 1em 1em;
}

.about-skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: transparent;
    text-align: center;
}

.about-skills-card img {
    width: 50px;
}

.about-skills-card h6 {
    margin-top: 0.5em;
    align-self: center;
}

/* Scroll Animation */
#skills {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#skills.visible {
    opacity: 1;
}

/* Media Queries */
@media screen and (max-width: 767px) {
    #about {
        padding: 20px 20px;
    }

    .about-content {
        order: 2; /* Move the content box below the heading */
        font-size: small;
    }

    #about h1 {
        order: 1; /* Move the heading above the content box */
    }
    .about-skills-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    }
}
