body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #cadff2, #f2f0e6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

.star {
    color:rgba(181, 42, 42, 0.667);
}

h1 {
    color: #000000;
    margin-bottom: 15px;
}


label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    background-color: #00bcd4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0097a7;
}
