/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Body Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #fff0c9, #d9e6f2); /* Creamy gradient colors */
  color: #333; /* Adjust text color for readability */
  overflow-x: hidden;
}

/* Navigation Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 15px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links li a {
  position: relative;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: #00bcd4;
  border-radius: 2px;
  transition: all 0.4s ease;
}

.nav-links li a:hover:before {
  width: 100%;
}

.name {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  padding: 3px 10px;
  text-decoration: none;
  pointer-events: none;
}

.social {
  display: flex;
  align-items: center;
  list-style: none;
}

.social li {
  margin: 0 10px;
}

.social li a {
  position: relative;
  padding: 10px 0;
  text-decoration: none;
  color: #333;
}

.social a:visited {
  color: inherit;
}

/* Animation Styles */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hi, .im-jeffrey, .Graduate {
  opacity: 0;
  animation: fadeInBottom 1s ease-out forwards;
}

.hi {
  animation-delay: 0.5s;
}

.im-jeffrey {
  animation-delay: 1.5s;
}

.Graduate {
  animation-delay: 2.5s;
  font-size: 20px;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  animation: fadeInBottom 1.5s ease-out forwards;
}

h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 3em;
}

p {
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
}

@media (prefers-reduced-motion: reduce) {
  .hi, .im-jeffrey, .Graduate, .fade-in {
    animation: none;
  }
}
